<div class="loginPage" ng-controller="passwordManagementController">
    <form class="registerForm" name="forgetPasswordForm">
    	 <h2 style="margin-top: -20px;height:10px;">Account help</h2>
    	 
	     <md-input-container style="height:30px;">
          	<label style="font-weight:bold;font-size: 12px;">Enter recovery email address</label>
	          <input required="" name="emailId" ng-model="password.to" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
	          <div ng-messages="forgetPasswordForm.emailId.$error">
	            <div ng-message="required">Email-Id required.</div>
              <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
           		 Invalid e-mail address.
          	 </div>
	          </div>
	     </md-input-container>
	     
    <md-input-container style="height:20px;">
        <md-button style="width: 90px;font-size:11px;font-weight: bold;border:solid;border-width:1.5px;" ng-click="passwordFunction();" ng-disabled="forgetPasswordForm.$invalid" >Send</md-button>
        <md-button style="width: 90px;font-size:11px;font-weight: bold;border:solid;border-width:1.5px;" ui-sref="login" >Cancel</md-button>
    </md-input-container> 
      
    </form> 
</div>

